extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug 
block seoHeader
  title 100 + Sports tech start ups

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Start your career at a Sports Startup.</strong>
        h2 Find the best sports tech companies.


  section.companieslist
    .content
      +_secondmenu
    each post in hudldata
    
          a.complist(href='https://sportekjobs.com/sports-companies/' + post['company'])
          
              li.company= post['_id']
              //- li 
              //-   a(href='http://localhost:7777/sports-companies/' + post['_id']).button.info Get more Info
              //- a(href='post['link']' target='_blank') &#x1F517 Website
              li
                p.openings Job Posts: #{post.total_listings} &nbsp; 
              //- li
              //-   div.tags 
              //-   - var tags = post.uniqueTags
              //-   each tag in tags
              //-     ul#tagslist
              //-       p= tag             

              //- a(href='https://localhost:3000/company' + post[':_id']) test

    



    //-  table#companieslist
    //-       tr
    //-         td 
    //-           a(href='/') Hudl 
    //-         td #{hudldatacount}
    //-         td 
    //-           each post in hudljobs
    //-             p= post['tags']
    //-       tr
    //-         td
    //-           a(href='/') Kinexon
    //-         td #{kinexondatacount}
    //-       tr
    //-         td
    //-           a(href='/') Second Spectrum
    //-         td #{secondspectrumdatacount}
    //-       tr
    //-         td
    //-           a(href='/') Beyond Sports
    //-         td #{beyondsportsdatacount}