extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Find your next job in the Sports Tech Industry.</strong>
        h2 Find tech and startup jobs in sports.
  section.companyinfo
    each post in data || []
      h1= post['copmany'] 
      div.companybox
        .companydescription 
          p!= post['companydescription']
          p!= post['descr']
        .companylinks
          p &#x1F4CD #{post.location}
          a(href=post['companylink'] target="_blank") &#x1F310 Company Website
        
      div.jobcontainer
        h1 Latest Job at #{post.company}
        table.joblist.all-jobs#joblist
            tr
              td
                p.position= post['position'] 
                p.company= post['company']
              td
                div.tags  
                ul#tagslist
                  p= post['tags']
              td
                p.location= post['location']
              
              td#datecell
                p#date #{moment(post['date']).startOf('day').fromNow()}
              td 
                a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
        
        
  
