extends layout

block content
  navbar.navheader 
    .logotext
      a.logo(href='/') <span>Sportek</span> 
      h1.logo_job jobs
    ul.main-nav 
      li.twitter
        a.twitter-follow-button(href='https://twitter.com/sportekjobs', data-show-count='false') Follow @teacherjobs_io
      
      li.join 
        a.button(href='/sportsjobs-remote-jobs') Remote Jobs 
      li.join 
        a.button(href='/sportsjobs-internships') Internships
      //- li.join 
      //-   a.button(href='https://t.me/joinchat/A9hsRBDuvCUuCe_U0othnw') Community
      li.join 
        a.button(href='/sports-companies') Companies
      li.join 
        a.button(href='/sportsjobs-collections') Collections
      
      li.postajob 
        a.button(href='/hire') Post a Job
  section.header
    h1 <span>Join the Sports Industry</span>. Get a job at one of these companies.

  section.companieslist
    
    each post in hudldata
    
          a.complist(href='https://sportekjobs.com/sports-companies/' + post['_id'])
          
              li.company= post['_id']
              //- li 
              //-   a(href='http://localhost:7777/sports-companies/' + post['_id']).button.info Get more Info
              //- a(href='post['link']' target='_blank') &#x1F517 Website
              li
                p.openings Job Posts: #{post.total_listings} &nbsp; 
              //- li
              //-   div.tags 
              //-   - var tags = post.uniqueTags
              //-   each tag in tags
              //-     ul#tagslist
              //-       p= tag             

              //- a(href='https://localhost:3000/company' + post[':_id']) test

    



    //-  table#companieslist
    //-       tr
    //-         td 
    //-           a(href='/') Hudl 
    //-         td #{hudldatacount}
    //-         td 
    //-           each post in hudljobs
    //-             p= post['tags']
    //-       tr
    //-         td
    //-           a(href='/') Kinexon
    //-         td #{kinexondatacount}
    //-       tr
    //-         td
    //-           a(href='/') Second Spectrum
    //-         td #{secondspectrumdatacount}
    //-       tr
    //-         td
    //-           a(href='/') Beyond Sports
    //-         td #{beyondsportsdatacount}