extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug 

block content
  //- +_navbar 
        //- a(href='https://toomai.typeform.com/to/VnpRAv' target='_blank').button Post a Job
        //- a.typeform-share.button(href='https://toomai.typeform.com/to/VnpRAv', data-mode='drawer_right', target='_blank') Post a Job
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Start your career in the SportsTech Industry.</strong>
        h2 Find and list tech and startup jobs in Sports.
       
    //- div.animation
    //-   .headerimage
    
  div.jobpostvr
  
    .content
       
    //- .advertiser_testimonials
    //-   div.textbox_testimonials
    //-     img(src='../images/companies.png')
    //-   div.hire_claimer
    //-     p Trusted by start ups and leading companies from the sports industry 

    //- .newsletter-box
    //-   h1 Get a weekly email with new jobs
    //-   #revue-embed
    //-           form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
    //-             .revue-form-group
    //-               label(for='member_email') 
    //-               input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
    //-             .revue-form-actions
    //-               input#subscribe.button(type='submit', value='Subscribe to Newsletter', name='member[subscribe]')
    //- h2 test
    //- each post in apidata || []
    //-   table.joblist#paidjobs
    //-       tr
    //-         td
    //-           p.position= post['position'] 
    //-           p.company= post['company']
    //-         td
    //-           div.tags  
    //-            ul#tagslist
    //-             p= post['tags']
    //-         td
    //-           p.location= post['location']
    //-         td#datecell
    //-           p#date #{moment(post['date']).startOf('day').fromNow()}
               
    //-         td 
    //-           a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- .advertiser_testimonials
    //-   div.hire_claimer
    //-       h1(style='color: red') We are having some database problems - we are working hard to fix the problem! 
    +_secondmenu
    h2 Recent Jobs
    each post in data || []
      table.joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location(data-type=`${post['location']}`)= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
               
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    .advertiser
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Get new jobs sent to you', name='member[subscribe]')
    

    h2 Web Development Jobs
    each post in paid_web || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, , style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
               
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_web || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, , style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            
            td#datecell
               p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    a#morejobs(href='/sportsjobs-web-development-jobs') See all Web Development jobs &#x1F449
    .advertiser
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Get new jobs sent to you', name='member[subscribe]')
    

    

    h2 Virtual Reality Jobs
    each post in paid_vr || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
               
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info Get more Info
    //- h2 Recent Jobs
    each post in data_vr || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            
            td#datecell
               p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    a#morejobs(href='/sportsjobs-virtual-reality-jobs') See all VR jobs &#x1F449
    .advertiser
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Get new jobs sent to you', name='member[subscribe]')
    

    h2 Data Science Jobs    
    each post in paid_ds || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_ds || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
              
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info       
    div.morejobs
      a(href='/sportsjobs-data-science-jobs') See all Data Science jobs &#x1F449
    .advertiser
      p Hire the best tech players for your company 
      //- a(href='https://toomai.typeform.com/to/VnpRAv' target='_blank').button Post a Job
      a.button(href='/hire', target='_blank') Post a Job

    h2 Business Development Jobs    
    each post in paid_bs || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_bs || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
              
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info   
    div.morejobs
      a(href='/sportsjobs-business-development-jobs') See all Business Development jobs &#x1F449

    h2 Machine Learning Jobs    
    each post in paid_ml || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_ml || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
             
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info                     
    div.morejobs
      a(href='/sportsjobs-machine-learning-jobs') See all Machine Learning jobs &#x1F449
    .advertiser
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Get new jobs sent to you', name='member[subscribe]')
    h2 Product Management Jobs    
    each post in paid_pm || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_pm || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
             
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info                     
    div.morejobs
      a(href='/sportsjobs-product-management-jobs') See all Product Management jobs &#x1F449
    h2 Design Jobs    
    each post in paid_des || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    //- h2 Recent Jobs
    each post in data_des || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
             
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info                     
    div.morejobs
      a(href='/sportsjobs-design-jobs') See all Design jobs &#x1F449
    .advertiser
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Get new jobs sent to you', name='member[subscribe]')
    h2 Marketing Jobs    
    each post in paid_mar || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    each post in data_mar || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
              
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info                     
    div.morejobs
      a(href='/sportsjobs-marketing-jobs') See all Marketing jobs &#x1F449
    h2 Sales Jobs    
    each post in paid_sal || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    each post in data_sal || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
             
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    div.morejobs
      a(href='/sportsjobs-sales-jobs') See all Sales jobs &#x1F449
    .advertiser
      p Hire the best tech players for your company 
      //- a(href='https://toomai.typeform.com/to/VnpRAv' target='_blank').button Post a Job
      a.button(href='/hire', target='_blank') Post a Job

    h2 People Operations    
    each post in paid_po || []
      table.joblist#paidjobs
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()} 
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info
    each post in data_po || []
      table.joblist.all-jobs#joblist
          tr(data-type=`${post['tags']}`, data-location=`${post['location']}`, style=`background-color: ${post['bgcolor']}`)
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p(data-type=`${post['tags']}`)#tags= post['tags']
            td
              p.location= post['location']
              
            td#datecell
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info More Info 
    div.morejobs
      a(href='/sportsjobs-people-operations-jobs') See all People Operations jobs &#x1F449
    table.joblist#remote-jobs
    include mixins/_madeby.pug
    include mixins/_footer.pug 
 
  script.
      new TypeIt('#example1', {
        speed: 80,
        autoStart: true
        })
        .type('HUDL as Senior SQL Developer')
        .pause(500)
        .delete()
        .type('Mobcrush as Product Manager')
        .pause(500)
        .delete()
        .type('Hitwicket as Product Manager')
        .pause(500)
        .delete()
        .type('Twitch as Technical Business Developer')
        .pause(500)
        .delete()
        .type('KINDCUT as UI/UX Designer')       
  