extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Start your career at a Sports Startup.</strong>
        h2 Find and list tech and startup jobs in Sports.
        


  section.jobpostvr
    
    .content
      +_secondmenu 
    section.content
      h2 Sports tech Internships 
    h2 Featured Jobs
    //-  img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJRSURBVEhLrdVZiI1hHMfxY18Swo3lwjTZQ5ZSNFkbkgtJ2UIpTFOWCIUo04w9y4WmkGXMhWQmSzPZshTZzZU0I2MnGuFGk8T3+3beOhfeed85/OpT8zwzc85z3v//+Z9UgnTAatzFVzTgMuaiJf4peXiBYxiDNmiPabiEe8hBVpmNV/BNorIArzEyWDUj4+CLH4GPZjk8eZju2Iob2I036IVE8THUoQpXMRZl+IQ7eISP2I98PEclKpAoC3EOH9DTjXT8BEPRHx4izFTcQi0GuREXT+vHfxis4tMadtd2rHUjLvexE4eDVbI8wQ6UBquYfEY1ZgarZCnCRVwJVk1kJRrxDd3gJeuEqHRBW0yCTfAd0xEZC7sOFsxC2h3v8RSZ92Ex7B5v9Tb4Rr+wHnZfZG6jEF+Qiy2YBV/wAOz/3rCg7s1ACUbhJ1bgICJjYZfCx3QW3tDxacuwARZyNOZhAJbgNJ7BQnvAyKyBHXQTDrNVMC3gPzvc+sDhZ8L9AhyCRZ6IyAzGS1zDXkzGZngvBiKM+5vgvpfrAs7jLTqiycyHxXMWxf4x6QFb+weGuxGXzrDIxbDoxlNa7L7ohzlwTLeDHebA85Mnji3oi9bgOGxbR8i7tHLU4xRsS+t1Bolje+6DdfiNKbC7LK6Ft3O86f7OPYedLZs43mJP6g3dBb8f9uAE/HbzZyerI3sRHIx2VLPiRbqOVsHq7+kKH9WIYJVFfK5HkTn/w3irfTRevqzjIPORPIbfv96FYXAkePKN+C+ZgJN4AFvXeTMEMUml/gAaxIRz+PKjhAAAAABJRU5ErkJggg==')

    //- .advertiser
    //-   p Hire the best tech players for your company 
    //-   a(href='https://toomai.typeform.com/to/VnpRAv' target='_blank').button Post a Job

    each post in paid
      table.joblist#paidjobs
          tr
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p= post['tags']
            td
              p.location= post['location']
            td
              p#date #{moment(post['date']).format("MMMM Do")}
              
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info Get more Info 
    .newsletter-box
      h1 Get a weekly email with new jobs
      #revue-embed
              form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                .revue-form-group
                  label(for='member_email') 
                  input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                
                .revue-form-actions
                  input#subscribe.button(type='submit', value='Subscribe to Newsletter', name='member[subscribe]')
    h2 Recent Jobs
    //-  img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJRSURBVEhLrdVZiI1hHMfxY18Swo3lwjTZQ5ZSNFkbkgtJ2UIpTFOWCIUo04w9y4WmkGXMhWQmSzPZshTZzZU0I2MnGuFGk8T3+3beOhfeed85/OpT8zwzc85z3v//+Z9UgnTAatzFVzTgMuaiJf4peXiBYxiDNmiPabiEe8hBVpmNV/BNorIArzEyWDUj4+CLH4GPZjk8eZju2Iob2I036IVE8THUoQpXMRZl+IQ7eISP2I98PEclKpAoC3EOH9DTjXT8BEPRHx4izFTcQi0GuREXT+vHfxis4tMadtd2rHUjLvexE4eDVbI8wQ6UBquYfEY1ZgarZCnCRVwJVk1kJRrxDd3gJeuEqHRBW0yCTfAd0xEZC7sOFsxC2h3v8RSZ92Ex7B5v9Tb4Rr+wHnZfZG6jEF+Qiy2YBV/wAOz/3rCg7s1ACUbhJ1bgICJjYZfCx3QW3tDxacuwARZyNOZhAJbgNJ7BQnvAyKyBHXQTDrNVMC3gPzvc+sDhZ8L9AhyCRZ6IyAzGS1zDXkzGZngvBiKM+5vgvpfrAs7jLTqiycyHxXMWxf4x6QFb+weGuxGXzrDIxbDoxlNa7L7ohzlwTLeDHebA85Mnji3oi9bgOGxbR8i7tHLU4xRsS+t1Bolje+6DdfiNKbC7LK6Ft3O86f7OPYedLZs43mJP6g3dBb8f9uAE/HbzZyerI3sRHIx2VLPiRbqOVsHq7+kKH9WIYJVFfK5HkTn/w3irfTRevqzjIPORPIbfv96FYXAkePKN+C+ZgJN4AFvXeTMEMUml/gAaxIRz+PKjhAAAAABJRU5ErkJggg==')
    

    each post in data
      table.joblist.all-jobs#joblist
          tr
            td
              p.position= post['position'] 
              p.company= post['company']
            td
              div.tags  
               ul#tagslist
                p= post['tags']
            td
              p.location= post['location']
            td
              p#date #{moment(post['date']).startOf('day').fromNow()}
            td 
              a(href='https://sportekjobs.com/' + post['slug']).button.info Get more Info 
    table.joblist#remote-jobs