extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug
block head
  title Sportstech job as #{data.position}
block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Be part of the sports revolution.</strong>
        h2 Find tech and startup jobs in sports.
  
  section.jobinformation 
    each post in data
      .generalinfo
       
        h1=post['company']
        p is looking for a 
        h1=post['position']
        a.button#sharebuttonsfb(href='https://www.facebook.com/sharer/sharer.php?u=https://sportekjobs.com/' + post['slug'], target='_blank') Share this job
        a.button#sharebuttonstw(href='https://twitter.com/share?url=https://sportekjobs.com/' + post['slug'], data-text='New job opening', data-hashtags='sports', data-show-count='false', target='_blank') Tweet this job
        a.button#sharebuttonsli(href='https://www.linkedin.com/shareArticle?mini=true&url=https://sportekjobs.com/&title=' + post['slug'], target='_blank') Post on Linkedin
      .advertiser
        #revue-embed
                form#revue-form(action='https://www.getrevue.co/profile/tobias-hikari/add_subscriber', method='post', name='revue-form', target='_blank')
                  .revue-form-group
                    label(for='member_email') 
                    input#member_email.field(placeholder='Your email address...', type='email', name='member[email]')
                  
                  .revue-form-actions
                    input#subscribe.button(type='submit', value='Subscribe to Newsletter', name='member[subscribe]')
      .jobdetails   
        p.location=post['location'] 
      .jobdescription
        p.description!=post['description'] 
        p=post['email']
        
        a(href=post['link'], target='_blank').button.apply Apply for this job
        